<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <title>Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#131116" />
    <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Template" />
    <meta property="og:title" content="Template" />
    <meta property="og:description" content="Template" />
    <!-- BEGIN styles -->
    <link rel="stylesheet" media="all" href="css/app.css" />
    <!-- END styles -->
  </head>

  <body>
    <main>
      <div data-slider class="slider">
        <div class="slides slider__slides">
          <div data-slide class="slide slider__slide">
            <div
              class="slide__img"
              style="
                background-image: url('https://images.unsplash.com/photo-1639616714095-07d638ee2594?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
              "
            ></div>
          </div>
          <div data-slide class="slide slider__slide">
            <div
              class="slide__img"
              style="
                background-image: url('https://images.unsplash.com/photo-1639615975189-f8ec01200254?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
              "
            ></div>
          </div>
          <div data-slide class="slide slider__slide">
            <div
              class="slide__img"
              style="
                background-image: url('https://images.unsplash.com/photo-1639615961506-6ba09e8bbc78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
              "
            ></div>
          </div>
        </div>
        <nav data-nav class="nav slider__nav">
          <button data-prev class="nav__item nav__item--prev">←</button>
          <button data-next class="nav__item nav__item--next">→</button>
        </nav>
      </div>
    </main>
    <!-- BEGIN scripts -->
    <script src="./js/runtime-app.js"></script> 
    <script src="./js/app.js"></script>
    <!-- END scripts -->
  </body>
</html>
